body {
      font-family: 'Poppins', sans-serif;
      background: #f0f7f4;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      margin: 0;
      min-height: 100vh;
    }

h1 {
      color: #333;
      margin-bottom: 10px;
    }

    /* --- Clues Box --- */
#clues {
      background: white;
      border-radius: 12px;
      padding: 15px;
      margin-bottom: 20px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
      width: 320px;
    }




.level{
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 700;
    font-size: 50px;
    text-align: center;

}


#grid {
    display: flex;
    gap: 10px;
    margin: 20px;
}

.slot {
    width: 100px;
    height: 100px;
    background: rgba(230, 230, 230, 0.85);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
    border: 2px dashed #bbb;
}

#items{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
}

.item {
    width: 90px;
    height: 90px;
    background: #aad4f5;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    cursor: grab;
    font-size: 90px;
    font-weight: bold;
    user-select: none;
    transition: background 0.3s;
}

.item:active {
    cursor: grabbing;
}

.slot .item{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    margin: 0 auto;

    font-size: 80px;
    border-radius: 10px;
    gap: 0;
    box-sizing: border-box;
}
 #controls {
      margin-top: 20px;
      text-align: center;
    }
#feedback {
    font-weight: bold;
    margin: 15px;
    color: #444;
}

#submitBtn {
    background: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

#submitBtn:hover {
    background: #43a047;
}

#attempts {
    margin-top: 5px;
    color: #ffffff;
}

#buttons {
  display: flex;
  justify-content: center;
  gap: 10px; 
  margin-top: 20px;
}

#buttons button {
  width: 60px;       
  height: 60px;      
  border-radius: 50%;
  border: none;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: transform 0.2s ease;
  cursor: pointer;
}

#buttons button:hover {
  transform: scale(1.1);
}

#buttons button img {
  width: 60px;  
  height: 60px;
  object-fit: contain;
}
